services:
  database:
    build:
      context: ./database
    ports:
      - "7432:7432"
    volumes:
      - ./schema.json:/app/schema.json

  exchange:
    build:
      context: ./crypto_api
    depends_on:
      - database
    volumes:
      - ./config.docker.json:/app/config.json
    deploy:
      mode: replicated
      replicas: 4

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - exchange